<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Books</h1>
    <table border="1px" style="border: 2px solid black">
        <thead><tr><th>Name</th><th>Author</th><th>Price</th></tr></thead>
        <% for(var i=0;i<bookls.length;i++){ %>
            <tr>
                <td><%= bookls[i].name %></td>
                <td><%= bookls[i].Author %></td>
                <td><%= bookls[i].price %></td>
            </tr>

       <% }%>
       

        
    </table>
</body>
</html>