<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Login page
    <form action="/home" method="POST">
      Usename <input type="text"name="uname" id="uname"><br>
      Password <input type="password"name="pname" id="pname"><br>
        <input type="submit" value="Login"/>

    </form>
</body>
</html>